<%- include("./layout"), {title:title} %>
<body>
    <% if(user) { %>
        <%- include("./navbar",{user:user}) %> 
    <% } else { %>
        <%- include("./navbar", {user:undefined}) %> 
    <% } %> 
    <div class="container-fluid">
        <% //testing porpusses %>
        <% if (user) { %>
            <h1>Wellcome back</h1>
            <a href="/messages/create">Create new message</a>
        <% } else { %>
            <h1>Wellcome to members only page!</h1>
            <p>The page contains <b><%= messages.length %></b> different messages. </p>
            <p>Become a user to be able to see them.</p>
        <% } %> 
    </div>
</body>
</html>