<%- include("./layout"), {title:title} %>
<body>
    <% if(user) { %>
        <%- include("./navbar",{user:user}) %> 
    <% } else { %>
        <%- include("./navbar", {user:undefined}) %> 
    <% } %> 
    <div class="container-fluid">
        <% //testing porpusses %>
        <% if (user) { %>
            <h1>Wellcome back</h1>
            <a href="/messages/create">Create new message</a>
        <% } %> 
        <% //-- %> 
        <div class="row">
            <% //your code goes here... %>
            <h1>Wellcome to testing page!</h1>
        </div>
    </div>
</body>
</html>