<%- include("./layout"), {title:title} %>
<body>
	<%- include("./navbar") %> 
    <div class="container-fluid">
        <h1>Update user info</h1>

        <form>
            
        </form>
    </div>
</body>
</html>