<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Members Only</span>
        <% //todo: change options if user is logged in %> 
            <a class="nav-link active" aria-current="page" href="/log-in">Log in</a>
            <a class="nav-link active" aria-current="page" href="/sign-up">Sign in</a>
    </div>
</nav>